<!DOCTYPE html>
<!-- Vendor libraries -->
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> 
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://33.33.33.33/resources/css/helper.css">
          <script src="https://33.33.33.33/resources/js/helper.js"></script> 
<script>
function change_password()
{
     var password = document.getElementById("password1").value ;
     var user_id = document.getElementById("user_id").getAttribute('name') ;
     var maze = "https://33.33.33.33/api"
    
     var arr =  {     
    "password" : password
     };
    
       $.ajax(
            {
                url: maze + "/users/password/" + user_id,
                type: "POST",
                data: JSON.stringify(arr),
                crossDomain: true,
                contentType:"application/json",
                dataType: 'json',
                success: function (response) {
                    pass_updated();
                    //window.location.href = 'https://33.33.33.33/mazeindex.html'
                },
                error: function (response) {
                      pass_updated();
                }
            });
};         
function pass_updated()
    {
        document.getElementById('password_block').style.display = 'none';
        document.getElementById('show_mess').style.display = 'block';
    }

</script>
</head>
<body>
              <header>
<!--   header tells search engine that this is our header -->
               <a style="text-decoration: none;"href="mazeindex.html">
               <img src="https://33.33.33.33/resources/css/img/logo.png" alt = "Service Maze Logo" class = "Logo" > <sup style="font-size:0.9em;color:#ffb100;">&reg;</sup></a>
            <ul class="main-nav" id = "mainnav" > <li><a href="#">Help</a></li></ul>     
        </header>

<div class="container" id="user_id" name={{user_id}}>
    <br><br>
<div class="row">
    <div id="show_mess" style = "display:none">
        <p class="text-center"> Password updated, Please <a href="https://33.33.33.33/mazeindex.html">Click Here</a> to login</p>
    </div>
<div class="col-sm-6 col-sm-offset-3" id="password_block", style="display:block; padding:20px; background:#f2f2f2">
<p class="text-center"> Reset password. Your password cannot be the same as your username.</p>
<form method="post" id="passwordForm" action="javascript:change_password()">
<input type="password" class="input form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
    <div class="row" style="height:20px"></div>
    <div class="row" style="height:20px"></div>
<input type="password" class="input form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
    <div class="row" style="height:20px"></div>
<div class="row">
<div class="col-sm-12">
<span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
</div>
</div>
     <div class="row" style="height:20px"></div>
<input type="submit" class="col-xs-4 btn btn-primary btn-load" style="margin-left:30%;background:#f4c459" data-loading-text="Changing Password..." value="Submit">
</form>
</div><!--/col-sm-6-->
</div><!--/row-->
</div>
<script>
$("input[type=password]").keyup(function(){
    var ucase = new RegExp("[A-Z]+");
	var lcase = new RegExp("[a-z]+");
	var num = new RegExp("[0-9]+");
	
	if($("#password1").val().length >= 8){
		$("#8char").removeClass("glyphicon-remove");
		$("#8char").addClass("glyphicon-ok");
		$("#8char").css("color","#00A41E");
	}else{
		$("#8char").removeClass("glyphicon-ok");
		$("#8char").addClass("glyphicon-remove");
		$("#8char").css("color","#FF0004");
	}
	
	if(ucase.test($("#password1").val())){
		$("#ucase").removeClass("glyphicon-remove");
		$("#ucase").addClass("glyphicon-ok");
		$("#ucase").css("color","#00A41E");
	}else{
		$("#ucase").removeClass("glyphicon-ok");
		$("#ucase").addClass("glyphicon-remove");
		$("#ucase").css("color","#FF0004");
	}
	
	if(lcase.test($("#password1").val())){
		$("#lcase").removeClass("glyphicon-remove");
		$("#lcase").addClass("glyphicon-ok");
		$("#lcase").css("color","#00A41E");
	}else{
		$("#lcase").removeClass("glyphicon-ok");
		$("#lcase").addClass("glyphicon-remove");
		$("#lcase").css("color","#FF0004");
	}
	
	if(num.test($("#password1").val())){
		$("#num").removeClass("glyphicon-remove");
		$("#num").addClass("glyphicon-ok");
		$("#num").css("color","#00A41E");
	}else{
		$("#num").removeClass("glyphicon-ok");
		$("#num").addClass("glyphicon-remove");
		$("#num").css("color","#FF0004");
	}
	
	if($("#password1").val() == $("#password2").val()){
		$("#pwmatch").removeClass("glyphicon-remove");
		$("#pwmatch").addClass("glyphicon-ok");
		$("#pwmatch").css("color","#00A41E");
	}else{
		$("#pwmatch").removeClass("glyphicon-ok");
		$("#pwmatch").addClass("glyphicon-remove");
		$("#pwmatch").css("color","#FF0004");
	}
});
    </script>
</body>
</html>

