<div style="margin-left:20px;margin-right:20px;margin-top:20px; background0-color:#f3f3f3;">    
    <h4> {{my_user.firstName}} {{my_user.lastName}}</h4>
    <img src= {{my_user.profilePicture}} alt = "Service Maze Logo" class = "Logo" >
    <p style="word-wrap:break-word">We are excited for your journey. At Mazebuz, we are trying to make a difference in the way people seek professional help. <p>
    <p>In the meantime please get familiar with mazebuzz.</p>
    <p>We look forward to your journey. All the best!</p>
    <div>
